absl-py==2.1.0
attrs==24.2.0
cffi==1.17.0
contourpy==1.1.1
cycler==0.12.1
flatbuffers==24.3.25
fonttools==4.53.1
importlib_metadata==8.2.0
importlib_resources==6.4.0
jax==0.4.13
kiwisolver==1.4.5
matplotlib==3.7.5
mediapipe==0.10.11
ml-dtypes==0.2.0
numpy==1.24.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
pillow==10.4.0
protobuf==3.20.3
pycparser==2.22
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy==1.10.1
six==1.16.0
sounddevice==0.4.7
zipp==3.19.2
